#page
	font-size: 20px
	max-width: 800px
	margin: 0 auto

h1
	font-size: 48px
	margin: 0.8em 0px

h2
	font-size: 32px
	margin: 0.8em 0px 1.2em 0px

@mixin fade-line($distance1, $distance2)
	border-image: linear-gradient(to right, #696c72 $distance1, transparent $distance2)
	border-image-slice: 1

.marker
	line-height: 1
	position: relative
	display: flex
	justify-content: center

	&::before
		position: absolute
		display: block
		content: ""
		left: 0
		right: 0
		top: 50%
		border-top: 3px solid #ccc

	.inner
		position: relative
		z-index: 1
		padding: 10px 20px
		background-color: #36393e
		font-size: 2em
		margin: 25px 0px

		&.year
			font-size: 3em
			margin: 50px 0px

.posts
	list-style-type: "›"
	margin: 0px

	li
		@include fade-line(250px, 350px)
		border-bottom: 1px solid
		padding: 5px 10px 5px 5px

		.date
			display: inline-block
			min-width: 120px
			margin-right: 15px
			font-family: Noto Mono, monospace
			font-size: 0.94em

		.smalltitle
			font-size: 0.94em

			.title
				font-size: inherit
a
	text-decoration: underline
	text-decoration: underline 1px

.back
	@include fade-line(300px, 400px)
	border-top: 1px solid
	padding-top: 10px
	margin-top: 40px
	margin-bottom: 20vh

.write
	font-size: 15px
	width: 1000px
	height: 500px
