include includes/pre
<title>JavaScript license information</title>
include includes/header
<h1>JavaScript license information</h1>
<br>
<table id="jslicense-labels1">
    <thead>
        <tr>
            <td>File</td>
            <td>License</td>
            <td>Source</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/plus.js">/plus.js</a></td>
            <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0-or-later</a></td>
            <td><a href="/plus.js">(already in source code form)</a></td>
        </tr>
        <tr>
            <td><a href="/header.js">/header.js</a></td>
            <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0-or-later</a></td>
            <td><a href="/header.js">(already in source code form)</a></td>
        </tr>
        <tr>
            <td><a href="/cloudtube/cloudtube.js">/cloudtube/cloudtube.js</a></td>
            <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0-or-later</a></td>
            <td><a href="/cloudtube/cloudtube.js">(already in source code form)</a></td>
        </tr>
        <tr>
            <td><a href="/misc/ccc.js">/misc/ccc.js</a></td>
            <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0-or-later</a></td>
            <td><a href="/misc/ccc.js">(already in source code form)</a></td>
        </tr>
        <tr>
            <td><a href="/color-thief.min.js">/color-thief.min.js</a></td>
            <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
            <td><a href="https://raw.githubusercontent.com/lokesh/color-thief/d05ec978b099cf9cf4341749f0955fb4b2e6dad0/src/color-thief.js">source</a></td>
        </tr>
        <tr>
            <td><a href="/modals.js">/modals.js</a></td>
            <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0-or-later</a></td>
            <td><a href="/modals.js">(already in source code form)</a></td>
        </tr>
        <tr>
            <td><a href="/cloudtube/settings.js">/cloudtube/settings.js</a></td>
            <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0-or-later</a></td>
            <td><a href="/cloudtube/settings.js">(already in source code form)</a></td>
        </tr>
    </tbody>
</table>
p.
    <strong>All other JavaScript code on this site is also free software,
    licensed under the GNU GPL v3.0.</strong>
p.
    All JavaScript from this site (except color-thief) is sent to your web browser in source (unobfuscated) form.
    However, LibreJS is a pain, and so all <em>inline</em> JavaScript on this site
    might not be declared as free software in a format readable by LibreJS.
    If you use LibreJS, you should manually whitelist this website
    to make it function properly. I will never run nonfree JavaScript in your browser.
p.
    Core navigation features have been moved to external files
    and been declared free software by this page, allowing LibreJS users
    to at least use the header bar to navigate around the site.
include includes/end
