include includes/pre
<title>Contact</title>
include includes/header
main(style="max-width: 800px; margin: 0 auto")
    <h1>Contact</h1>
    p.
        There are multiple ways to talk to me over the internet.
        While I'd prefer if you used email for important enquiries,
        any of these will work and I will reply as long as your
        screen name is not nasko222.
    p Online, I'm called Cadence or cloudrac3r. In real life, I'm Cadence Ember.
    p My pronouns are they/them.
    p(style="color: #f55; font-size: 26px; font-weight: bold; margin: 50px 8px; line-height: 1.15") DO NOT WRITE TO ME ABOUT SPONSORED BLOG POSTS OR GUEST ARTICLES.
    <p>PGP email: <a href="/about/pgp">Please read instructions here</a></p>
    <p>Email: <span class="email">dmpvesbd4s@wjwbmej.ofu</span></p>
    p(id="noscript" style="color: #fff").
        Turn on JavaScript to decrypt this email address.<br>
        All JavaScript code on this website is free software. <a href="/about/javascript">More details.</a><br>
        If you refuse to turn on JavaScript, you can perform a Caesar shift of -1 on this email address to decrypt it manually.<br>
        (You're also going to have a <em>really</em> horrible time trying to use this site if you leave it off.)
    <p><a href="https://matrix.org/">Matrix</a>: <a href="https://matrix.to/#/@cadence:cadence.moe">@cadence:cadence.moe</a></p>
    <p>XMPP: <span class="email">d@b4.qn</span></p>
    p.
        Discord: No way! That's nonfree (freedom-denying) software. Use Matrix or an ordinary carrier pigeon.
    <h2>Other accounts</h2>
    <p>Sourcehut: <a href="https://sr.ht/~cadence">~cadence</a></p>
    <p>GitHub: <a href="https://github.com/cloudrac3r">cloudrac3r</a></p>
    <p>Reddit: <a href="https://www.reddit.com/user/cloudrac3r">u/cloudrac3r</a> (reddit chat is bad, send a private message)</p>
    <p>osu: <a href="https://osu.ppy.sh/users/9177616">cloudrac3r</a></p>
    <p>Steam: <a href="https://steamcommunity.com/id/cloudrac3r/">cloudrac3r</a></p>
    h2#money Money
    p It costs money to keep my services running:
    ul
        li *.cadence.moe: $5/month
        li matrix.cadence.moe: $6/month
        li #[a(href="https://bibliogram.art") bibliogram.art]: $6/month
    pre.
            5 + 6 + 6
        = $17.00 USD
            + 17.5% tax
        = $19.97 USD
            × 152% exchange rate
        = $30.34 NZD
    p.
        All of my work can be used free of charge, and most of it is open source too. Right now, I'm not paid anything
        for the time I spend coding, and server fees come out of my bank account. If you appreciate my work, please consider
        donating so that I don't have to pay for this all by myself.
    p If you use real money, you can #[a(href="https://www.patreon.com/papiophidian") subscribe to Amanda's Patreon.]
    p If you use digital currencies (preferred), you can send to any of these addresses:
    pre.
        BTC:             1VKob73dwZAp6Nf5WkaxgeeYgGzib3u6v
        BCH (cashaddr):  qzkevkup4qp2n6anzuw83hsa79mwe30pru7xv3jwan
        BCH (legacy):    1Gpr2CuRb56KKyqNYQnDrBXxCpw4AJ5viy
    p.
        If you have other digital currencies, I can't spend those directly, so it's best for me if you use a conversion
        service to get BCH, and send me that BCH.
    div(style="height: 15vh")
script.
    function bodyLoad() {
        q("#noscript").style.display = "none";
        for (const email of document.querySelectorAll(".email")) {
            email.innerHTML = String.fromCharCode(...[...email.innerHTML].map(l => l.charCodeAt(0)-(l.match(/\w/) && 1)));
        }
    }
include includes/end
