include includes/pre
<title>Storage viewer</title>
<script defer src="/storage_viewer/storage.js"></script>
include includes/header
<h1>Storage viewer</h1>
<p id="storageLoading">Loading...</p>
<div id="tableContainer"></div>
include includes/end
