include includes/pre
<title>Cadence</title>
include includes/header
<h1>U+1F646 :)</h1>
<p><a href="/blog">look at my blog</a></p>
<p><a href="/cloudtube/subscriptions">look at the only other thing that matters on this site</a></p>

include ../includes/webring.pug

include includes/end
