include includes/pre
<title>CCC interpreter</title>
style.
    code {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 80%;
        padding: 3px 4px;
        border-radius: 4px;
    }
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.4.0/math.min.js"></script>
<script src="ccc.js"></script>
script.
    function tab(event) {
        if (event.key == "Tab") {
            insertAtCursor(event.target, "    ");
            event.preventDefault();
        }
    }
    function runCCC() {
        try {
            let input = q("#cinput").value;
            input = input.replace(/^\s+/mg, "");
            let index = 0;
            let justPassedNewline = false;
            while (index < input.length-1) {
                if (input[index] == "\n") {
                    if (input[index+1] != ">") {
                        input = input.slice(0, index) + input.slice(index+1);
                    } else {
                        input = input.slice(0, index+1) + input.slice(index+2);
                        index += 2;
                    }
                } else {
                    index++;
                }
            }
            let result = externalc.run(input);
            q("#coutput").innerText = result.output;
            q("#bracketcount").innerText = "Open brackets: "+result.open;
        } catch (e) {
            q("#coutput").innerText = "CCC execution failed.\n"+e.stack;
        }
    }
include includes/header
<h1>CCC interpreter</h1>
<h2>Input</h2>
<p>Code runs automatically. Newlines and leading whitespace will be trimmed. Put <code>&gt;</code> at the start of the next line to make it a literal newline.</p>
<div><button onclick="runCCC()">Force run</button></div>
<textarea id="cinput" style="height: 300px; width: 818px;" onkeydown="tab(event)" oninput="runCCC()"></textarea>
<p id="bracketcount"></p>
<h2>Output</h2>
<pre id="coutput"></pre>
<div height="0.2vh"></div>
include includes/end
