include includes/pre
<title>discord.io bot tutorial</title>
style.
    code {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 80%;
        padding: 3px 4px;
        border-radius: 4px;
    }
include includes/header
<h1>discord.io bot tutorial</h1>
<p><em>written by Cadence#3263</em></p>
<h2>0. Why?</h2>
<p>
    | “because the current medium tutorial is terrible.”<br>
    <em>— Cadence, 2018</em>
</p>
<p>
    | Before you get too deep into this guide, if you're new here, you <strong>probably don't want to use discord.io!</strong>
    | See the last section of this page for details.
</p>
<h2>1. Install node.js</h2>
<p><a href="https://nodejs.org/en/">https://nodejs.org/en/</a></p>
<p>If you don't know which release version to pick, it doesn't matter. I went with "current". Neither should give you any problems.</p>
<h2>2. Install discord.io</h2>
<p>Create a folder to put your bot's files in, then open a terminal and <code>cd</code> to that folder.</p>
<p>
    | Run <code>npm init -y</code>. This creates a file that holds information about your project's dependencies.
    | The file is saved to <code>package.json</code>.
    | If you want, you can also open the file in a text editor and (carefully) edit it to add more information about your project.
</p>
<p>Run <code>npm install https://github.com/woor/discord.io/tarball/gateway_v6</code>. This installs the discord.io library.</p>
<h2>3. Create a bot account</h2>
<p>Go here: <a href="https://discordapp.com/developers/applications/">https://discordapp.com/developers/applications/</a></p>
<ul>
    <li>Click "create an application"</li>
    <li>Select the "bot" tab on the left side</li>
    <li>Click "add bot"</li>
</ul>
<h2>4. Add bot to server</h2>
<p>Still on that same website, do the following:</p>
<ul>
    <li>Select the "oauth" tab on the left side</li>
    <li>Scroll down to the bottom and select the "bot" checkbox only</li>
    <li>Click "copy"</li>
    <li>Open a new tab, paste that link, and follow the instructions to invite your bot to a server you own</li>
</ul>
<h2>5. Get your bot token</h2>
<p>
    | Go back to your bot's application page, press the "reveal token" link, and copy the token to the clipboard.
    | This token acts something like a password: anyone with that token can control your bot. Keep the token secret!
    | If someone <em>does</em> find out your token, just go to your bot's app page and change it.
    | This will invalidate the old one, keeping you safe.
</p>
<h2>6. Copy my template code</h2>
<p>Save this code as "bot.js": <a href="/pastes/27">/pastes/27</a></p>
<p>Save this code as "auth.json" and paste in your bot's token: <a href="/pastes/28">/pastes/28</a></p>
<h2>7. Start the bot</h2>
<p>Open a terminal (or reuse the old one from step 2), <code>cd</code> to your bot's folder, and run <code>node bot.js</code>.</p>
<p>
    | Hopefully within a few seconds you will see "I'm online!"<br>
    | If you didn't, something very bad has happened.
</p>
<h2>8. Try it out</h2>
<p>
    | Type <code>!ping</code> in chat.<br>
    | Type <code>!roll</code> in chat.<br>
    | Hopefully, you should be able to produce results similar to this image:
</p>
<p>
    <img src="/api/images/411758" style="border: 1px solid #aaa; padding: 3px;">
</p>
<h2>What's next?</h2>
<p>Well done! You just made an incredibly basic discord.io bot. So what's next? Well, that's up to you.</p>
<p>
    | Personally, I recommend using a different library. By using discord.io, you're choosing to put yourself through a world of pain
    | when there are much better libraries available. You could use either <a href="https://discord.js.org">discord.js</a>
    | or <a href="https://abal.moe/Eris/">Eris</a>. There's not much difference between them, except that d.js has many more users.
</p>
<p>
    | If you're sticking with discord.io despite that warning, feel free to join the official server:
    | <a href="https://discord.gg/0MvHMfHcTKVVmIGP">https://discord.gg/0MvHMfHcTKVVmIGP</a><br>
    | You can come here to ask for help or show off cool stuff you did.
</p>
<p>
    | To learn how to make your bot cooler than this sample code, <em>please read the documentation!</em><br>
    | Unfortunately, the documentation is very unorganised. There are two websites, each displaying slightly different information:
    | <a href="https://izy521.gitbooks.io/discord-io/content/">gitbooks</a>, and <a href="https://izy521.github.io/discord.io-docs/Discord.Client.html">github.io</a>.<br>
    | Gitbooks has most of the methods, as well as object references and examples.
    | github.io, on the other hand, has all of the available methods, but none of the object references or examples.<br>
    | I recommend using Gitbooks at first, and resorting to github.io if you can't find what you're looking for.
</p>
<p>If you're really stuck, ask in the discord.io server; me, or somebody else, will be able to help you.</p>
<p>And finally: good luck.</p>
include includes/end
