include includes/pre
<link rel="stylesheet" type="text/css" href="/cloudtube/youtube.css">
<title>YouTube annotations archive channel submitter</title>
<script src="/cloudtube/cloudtube.js"></script>
include includes/header
<div class="infoBox warning" ibid="null" style="border: 3px solid #b98627">
    <div>
        <span>
            | The deadline has passed and annotations have been deleted.<br>
            | You can no longer submit anything to the archive.<br>
            | This page will remain here so that links don't break, but it has no purpose beyond that. All functionality has been removed.
        </span>
    </div>
</div>
<h1>YouTube annotations archive channel submitter</h1>
<h2>What is this?</h2>
<p>YouTube will be deleting all annotations on January 15th.</p>
<p>
    | Most people remember annotations as overlays that creators put in videos to annoy you, or to take you somewhere you don't want to go
    | when you click the video to pause it, but they were actually so much more.
    | <a href="https://waxy.org/2018/11/a-tribute-to-youtube-annotations/">Here's an article</a> showing off the life and death
    | of annotations and some of the many creative uses they had.
</p>
<p>
    | You can contribute to the archiving effort by running your own worker server to help archive annotation data
    | (<a href="https://www.reddit.com/r/DataHoarder/comments/aa6czg/youtube_annotation_archive/">instructions</a>
    | / <a href="https://github.com/omarroth/archive">github</a>),<br>
    | but another way that you can help is by bringing to our attention some specific channels that you'd like to be archived.
</p>
<h2>How do I submit channels?</h2>
<p>If there's a creator that you are a fan of, enter their YouTube username, channel ID, or channel URL here, and they'll be added to the archive.</p>
<p>One ID/name per line. Use Ctrl-Enter to submit.</p>
<div><textarea disabled></textarea></div>
<button disabled>Submit</button>
include includes/end
