a.searchItem, a.relatedVideo, #subManageList a, #videoEndCardContainer a
{
    color: inherit;
}

input, button, pre, select {
    font-family: Bariol,sans-serif;
}

#mainContainer {
    display: flex;
}
#mainContainer > div:first-child {
    flex: 1;
    position: relative;
    margin-right: 20px;
}

.videoContainer {
    display: flex;
    width: 100%;
    position: relative;
}
#mainContainer .videoContainer {
    background: black;
    max-height: 500px;
}
.videoContainer video {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/*.videoContainer {
    position: relative;
    background: black;
    max-height: 500px;
    display: inline-block;
}
.videoContainer::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
.videoContainer video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}*/

#relatedVideosContainer {
    width: 400px;
}
#relatedVideosContainer > div:first-child {
    font-size: 18pt;
    margin-bottom: 20px;
}
.relatedVideo {
    display: flex;
    font-size: 15px;
    line-height: 1.1;
    margin-bottom: 14px;
    text-decoration: none;
}
.relatedVideo img {
    margin-right: 10px;
    height: 94px;
}
.relatedVideo > div:first-child {
    position: relative;
}
.relatedVideo > div:first-child::before {
    content: attr(data-prettyseconds);
    position: absolute;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 4px;
    background-color: rgba(20, 20, 20, 0.9);
    color: inherit;
    z-index: 1;
    right: 13px;
    bottom: 6px;
    font-size: 13px;
}
.relatedVideo span:first-child {
    margin-top: 4px;
    display: block;
    margin-bottom: 8px;
}
.relatedVideo span:last-child {
    display: block;
    color: #bbb;
    font-size: 14px;
}

.videoInfoBox {
    display: flex;
}
.videoInfoBox > *:first-child {
    flex: 1;
}

#videoTitle {
    display: block;
    font-size: 20pt;
    margin: 15px 0px 8px;
    color: #fff;
}
#videoAuthor {
    color: #ccc;
    text-decoration: none;
}
#videoAuthor:hover {
    text-decoration: underline #ddd;
    color: #f2f2f2;
}

.belowButtonContainer {
    margin-top: 16px;
    display: flex;
}

.belowButtonContainer > * {
    margin: 0px 4px;
}

#openInOutput {
    flex-wrap: wrap;
}

#videoRightContainer {
    margin: 20px 10px 0px 0px;
    text-align: right;
}
#videoRatingBar {
    width: 140px;
    height: 8px;
    margin-top: 6px;
    display: inline-block;
    border-radius: 3px;
}

.videoDescription {
    margin-top: 20px;
    background-color: rgba(225, 220, 230, 0.08);
    padding: 10px;
    border-radius: 4px;
    position: relative;
}

#eow-description {
    margin: 0;
    padding: 0;
}

.searchItem {
    display: flex;
    line-height: 1.1;
    margin-bottom: 14px;
    text-decoration: none;
    height: 150px;
}
.searchItem img {
    margin-right: 15px;
    height: 150px;
    position: relative;
    z-index: -1;
}

.searchItem.playlistItem, .searchItem.playlistItem img {
    height: 100px;
}
.searchItem.playlistItem span:last-child {
    height: unset;
}

.searchItem > .itemThumbnailContainer {
    position: relative;
}
.searchItem > .itemThumbnailContainer::before {
    content: attr(data-prettyseconds);
    position: absolute;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 4px;
    background-color: rgba(20, 20, 20, 0.9);
    color: inherit;
    z-index: 1;
    right: 18px;
    bottom: 3px;
    font-size: 13px;
    color: #ddd;
}
.searchItem .videoListDetails {
    overflow: hidden;
}
.searchItem .videoListDetails > * {
    color: #bbb;
    font-size: 15px;
    display: block;
    margin-bottom: 6px;
}
.searchItem .videoListDetails > .videoListTitle {
    margin-top: 4px;
    font-size: 24px;
    color: #f2f2f2;
    text-decoration: none;
}
.searchItem .videoListDetails .videoListDescription {
    margin-top: 16px;
}
.searchItem .videoListDetails .videoListAuthor {
    text-decoration: none;
    color: inherit;
}
.searchItem .videoListDetails .videoListAuthor:hover {
    color: #ddd;
    text-decoration: underline;
}

#mainSearchContainer {
    display: flex;
    flex-direction: column;
}

#searchContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 100%;
    margin: 0 auto 40px;
}
#search {
    flex: 1;
}

input, button {
    font-size: 16px;
}

#speedSliderContainer, #speedSliderContainer > span {
    flex-grow: 1;
    display: flex;
    line-height: 36px;
    margin: 0px 2px;
}
#speedSliderContainer > span {
    flex-grow: 1;
    align-items: baseline;
    max-width: 380px;
    display: flex;
    background-color: #3e4148;
    border: 1px solid grey;
    border-radius: 4px;
}
#speedSliderContainer input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    flex-grow: 1;
    cursor: default;
    border: none;
    margin: auto 15px auto 12px;
    background: transparent;
}
#speedSliderContainer input:focus {
    outline: none;
    cursor: default;
}
/* These sections are duplicated because apparently Chromium doesn't play nice with :: properties that it doesn't know about */
#speedSliderContainer input::-webkit-slider-runnable-track {
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: #999;
    border-radius: 4px;
    border: none;
    cursor: default;
}
#speedSliderContainer input::-moz-range-track {
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: #999;
    border-radius: 4px;
    border: none;
    cursor: default;
}
#speedSliderContainer input::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #e2e2e2;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -5px;
    cursor: default;
}
#speedSliderContainer input::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #e2e2e2;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -5px;
    cursor: default;
}
.speedText {
    font-size: 15px;
    margin-left: 6px;
}
#speedLabel {
    width: 40px;
    text-align: right;
    cursor: pointer;
    user-select: none;
    font-family: "FreeSans","Noto Sans",Arial,sans-serif;
    font-size: 13px;
}

#subManageButtonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#subManageButtonContainer h2 {
    margin-top: 0px;
    margin-right: 40px;
    display: inline-block;
}
#subManageButtonContainer button {
    display: none;
}
#subManageContainer {
    display: none;
    margin-bottom: 20px;
}
#subManageList {
    display: none;
    margin-top: 20px;
    background-color: rgba(225, 220, 230, 0.08);
    padding: 10px;
    border-radius: 4px;
}
#subManageList table {
    margin-top: 10px;
}
#subManageList td:first-child {
    padding: 0px 8px;
    min-width: 120px;
}
#subManageList > button {
    margin-top: 12px;
}
#subExplanation {
    display: none;
    line-height: 1.4;
}
#playbackErrorContainer {
    border-color: #b98627;
    border-width: 3px;
    display: block;
}

.tagInputContainer {
    display: flex;
}
.tagInputContainer input {
    width: 240px;
}
#tagVisible td:not(:last-child) {
    min-width: 197px;
}

.timestamp-active::after {
    content: "â†";
    position: absolute;
    left: 0;
    right: 0;
    background-color: #5c5e61;
    z-index: -1;
    text-align: right;
    padding-right: 6px;
    color: #bbb;
}

.playlistIndex {
    width: 48px;
    margin: auto 0;
    text-align: center;
    font-size: 18px;
}

.endcard-video, .endcard-channel, .endcard-website, .endcard-playlist {
    position: absolute;
    display: inline-block;
}
.endcard-video, .endcard-playlist {
    border: 1px solid rgba(255,255,255,0.7);
    box-shadow: black 0px 1px 3px;
    line-height: 0;
}
.endcard-video span, .endcard-playlist span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 5px, rgba(0, 0, 0, 0.6) 70%, transparent);
    padding: 8px 8px 20px;
    line-height: 1.2;
    color: white;
    font-size: 1.15vw;
}
.endcard-video img, .endcard-playlist img {
    transition: filter 0.4s ease-out;
}
.endcard-video:hover img, .endcard-playlist:hover img {
    filter: brightness(40%);
    transition: filter 1s cubic-bezier(0, 0, 0.2, 1);
}
.endcard-video::before {
    content: attr(data-prettyseconds);
    position: absolute;
    display: inline-block;
    border-radius: 3px;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 1;
    right: 4%;
    bottom: 4%;
    font-size: 1vw;
    padding: 0.25vw 0.4vw;
    line-height: 1.3;
}

.endcard-playlist img {
    object-fit: cover;
}

.endcard-channel img {
    border-radius: 50%;
    box-shadow: black 0px 1px 3px;
}

.endcard-website {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.endcard-website img {
    z-index: 1; /* not sure why this works, but I'll take it */
}
.endcard-website > img {
    transform: translateY(0px);
    transition: transform 0.15s ease-in;
}
.endcard-website:hover > img {
    transform: translateY(-20px);
    transition: transform 0.2s ease-out;
}
.endcard-website > span {
    opacity: 0;
    transform: translateY(-32px);
    transition: 0.15s ease-in;
    background-color: #999;
    color: black;
    line-height: 1.1;
    padding: 6px;
}
.endcard-website:hover > span {
    opacity: 1;
    transform: translateY(-22px);
    transition: 0.2s ease-out;
    background-color: white;
}
.endcard-website .endcard-website-title {
    font-size: 1.2vw;
}
.endcard-website .endcard-website-sitename {
    font-size: 0.94vw;
}

#export-box {
    width: 600px;
    max-width: 100%;
    height: 150px;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .searchItem {
        flex-direction: column;
        height: auto;
    }
    .searchItem a {
        margin: 0 auto;
    }
    .searchItem * {
        text-align: center;
    }
    .searchItem .videoListDescription {
        display: none;
    }
}

.filter-manager {
    display: flex;
}

.filter-item {
    background-color: rgba(10, 10, 0, 0.13);
}

.filter-item {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin: 16px 4px 4px 4px;
}

.filter-condition {
    display: flex;
}

.filter-condition input {
    padding: 6px 8px;
}

.filter-condition button {
    line-height: 1;
    width: 34px;
}

.filter-button-container {
    display: flex;
    justify-content: space-between;
}

.button-dangerous:hover {
    border: 2px solid #b98627;
    padding: 7px;
}

.openin-item {
    display: flex;
    max-width: 670px;
    margin-top: 8px;
}

.openin-item input {
    padding: 6px 8px;
}

.openin-item button {
    line-height: 1;
    width: 34px;
}

.openin-url {
    flex: 1;
}

.storyboard {
    position: absolute;
    z-index: 2;
    border: 1px solid black;
    left: 0px;
    bottom: 80px;
    pointer-events: none;
    background: linear-gradient(-45deg, #050505, #111 50%, #222 50%, #333) 0px -12px;
}

.storyboard-fg::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    bottom: -31px;
    background-color: black;
    transform: rotate(-135deg);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.storyboard-fg {
    left: 0px;
    right: 0px;
    height: 86px; /* lowest images (may?) have 4px of transparency at bottom */
    width: 159px; /* all images have a 1px black bar at right */
    background-repeat: no-repeat;
    position: relative;
}

.storyboard-time {
    background-color: black;
    color: #ccc;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
}

#currentTimeContainer {
    font-size: 16px;
    position: absolute;
    z-index: -1;
    left: 40px;
    top: 90px;
    opacity: 0;
}

#liveEventNotice {
    color: white;
    background-color: rgba(225, 220, 230, 0.08);
    border: 1px solid #b98627;
    border-radius: 4px;
    padding: 10px;
    margin: 20px 4px;
}