#egItemStorage, #externalWarning {
    display: none;
}

.linkButtonContainer {
    display: flex;
    flex-wrap: wrap;
}
.linkButtonContainer > * {
    margin: 4px;
}

.egContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.egSingle > img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.egItem {
    display: inline-block;
    width: 300px;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    background-color: rgba(225, 220, 255, 0.08);
    text-align: center;
}

.egItem a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    /*border: 1px dashed #888;
    background-color: rgba(225, 220, 255, 0.08);*/
}

.egItem img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid black;
}

.egTitle {
    font-size: 115%;
    margin: 6px 0px;
    line-height: 1;
    margin-bottom: 10px;
}

.egTags > * {
    background-color: rgba(225, 220, 255, 0.1);
    padding: 2px 5px;
    margin: 4px;
    border-radius: 6px;
    font-size: 90%;
}

.fillControls {
    display: flex;
    margin-bottom: 15px;
}

.newCard input {
    width: 400px;
    display: block;
}

.newCard img {
    /*border: 1px dashed #aaa;
    padding: 2px;
    background-color: #111;*/
}

#tagSelection {
    column-count: 2;
    display: inline-block;
}

#tagSelection span {
    display: block;
}

#toReveal {
    padding: 1px 10px 12px 10px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: rgba(225, 220, 230, 0.08);
}

#toReveal > * {
    margin-left: 4px;
}