//- Needs years

include old/includes/pre.pug
title Cadence's Blog
link(rel="stylesheet" type="text/css" href="/blog.css")
include old/includes/header.pug

h1 Blog

each year in years
	each month in year.months
		ul.posts
			each post in month.posts
				li
					a(href=`/blog/${post.slug}`).date= post.date
					span.smalltitle: a(href=`/blog/${post.slug}`).title= post.title
		.marker
			h2.inner= month.name
	.marker
		h2.inner.year= year.number

include old/includes/end.pug
