@font-face {
    font-family: 'Bariol';
    src: url(/fonts/bariol.ttf) format('truetype');
}

body {
    color: #ddd;
    background-color: #36393e;
    margin: 0px;
}

body, button, input {
    font-family: Bariol,sans-serif;
}

#page {
    display: block;
    margin: 2vw;
    line-height: 1.4;
    font-size: 13pt;
}

#header {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: #4f5359;
    margin: 0px;
    padding: 4px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
#header #headerExpandMenu {
    display: none;
    float: right;
    font-size: 22px;
    line-height: 1;
}
#header.mobile #headerExpandMenu {
    display: unset;
}
#header.mobile.hidden *:nth-child(n+4) {
    display: none;
}
#header * {
    vertical-align: middle;
    display: inline-block;
    color: #ccc;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
}
#header .dropdown-items {
    position: absolute;
    top: 48px;
    min-width: 135px;
    background-color: #4f5359;
    padding: 2px 8px 8px;
    border-radius: 0px 0px 10px 10px;
    display: none;
}
#header.mobile .dropdown-items {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    position: fixed;
    right: 0;
    border-radius: 10px 0px 0px 10px;
    top: unset;
    padding-top: 8px;
    position: static;
}
#header.mobile .dropdown-alignment {
    display: flex;
    flex-direction: column;
}
#header .dropdown-items:before {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    content: "";
    z-index: -1;
}
#header .dropdown-items .headerButton {
    display: block;
    position: relative;
    z-index: 1;
}
#header .headerButton {
    border: none;
    background: transparent;
    font-size: inherit;
    padding: 6px 7px;
    margin: 3px 2px;
    border-radius: 6px;
    transition: 0.15s ease-out;
    cursor: pointer;
}
#header.mobile .headerButton {
    display: block;
    text-align: left;
}
#header:not(.mobile) .headerArrow:before, #header:not(.mobile) .headerUnderline:before {
    content: "";
    padding-bottom: 0px;
    border-bottom: 1px solid #999;
    display: block;
    width: 100%;
    position: relative;
    top: 21px;
}
#header:not(.mobile) .headerArrow:after {
    content: url("/fonts/arrow-down.svg");
}
#header .headerButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #eee;
}
#header .vr {
    color: #aaa;
    margin: 0px;
}
#header.mobile .vr {
    display: none;
}
#header .sitename {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    color: #ddd;
}
#header.mobile .sitename {
    display: inline-block;
}
#header:not(.mobile) > *:last-child {
    float: right;
    margin-right: 10px;
}

textarea, input:not([type=range]), button, pre, select, .infoBox {
    border: 1px solid grey;
    padding: 8px;
    background-color: rgba(225, 220, 255, 0.05);
    border-radius: 4px;
    color: #ddd;
    margin: 4px;
}

input {
    padding: 6px 8px;
}

a.linkbutton, a.linkbutton:visited {
    background-color: rgba(225, 220, 255, 0.05);
    padding: 8px;
    border-radius: 4px;
    color: #ddd;
    text-decoration: none;
    border: 1px solid grey;
    font-size: 16px;
    line-height: 1.3;
    margin: 4px;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    font-size: 13.3333px;
    max-width: 800px;
    overflow: auto;
    display: block;
    tab-size: 4;
    -moz-tab-size: 4;
}
pre#content {
    min-height: 300px;
    resize: horizontal;
}

.paste-textarea-container {
    display: flex;
}
.paste-textarea-container textarea {
    height: 300px;
    width: 800px;
    max-width: 100%;
}

#copyStatus {
    color: lawngreen;
    margin-left: 10px;
    font-size: 11pt;
}

table {
    border-collapse: collapse;
    font-size: 13pt;
}
thead tr {
    background-color: #2d2e30;
    font-weight: bold;
}
tr {
    background-color: #404245;
}
tr:nth-child(even) {
    background-color: #47494c;
}

td, th {
    padding: 3px 5px;
}
table, tr, td, th {
    border: 1px solid #999;
}

a, a:visited {
    color: #72b4f6;
}

.errorDisplay {
    color: orange;
}
.successDisplay {
    color: lawngreen;
}

h1 {
    font-size: 2.5em;
    margin: 0.6em 0px 0px 0px;
}
h2 {
    font-size: 1.6em;
    margin: 1.2em 0px 0px 0px;
}
p {
    margin-left: 0.6em;
}

select {
    font-size: 16px;
    outline: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: url(/fonts/arrow-down-wide.svg) right 53% no-repeat rgba(225, 220, 255, 0.05);
    line-height: 1.4;
    padding: 5px 24px 5px 8px;
}
select:-moz-focusring {
    text-shadow: 0 0 0 #ddd;
    color: transparent;
}
option {
    background-color: #3e4148;
    color: #ddd;
}

.infoBox {
    margin: 20px 0px;
    display: none;
}
.infoBox > div {
    display: flex;
}
.infoBox > div span {
    flex: 1;
}
.infoBox > div img {
    padding: 6px;
    margin-left: 6px;
    cursor: pointer;
}

.settingsDividers > *:nth-child(odd) {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #696c72 200px, transparent 400px);
    border-image-slice: 1;
}
.settings-dividers > *:first-child {
}

.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(10, 10, 10, 0.9);
	display: flex;
	align-items: stretch;
	justify-content: center;
}
.modal .modal-child {
	max-width: 500px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	max-height: 96vh;
}
.modal header {
	min-height: 40px;
	background-color: #525457;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 10px 10px 0px 0px;
    font-size: 21px;
}
.modal .modal-body {
	background-color: #3d3f42;
	min-height: 200px;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	overflow: auto;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.modal .modal-expand {
    flex: 1;
}
.modal .modal-buttons {
    display: flex;
}
.modal .modal-buttons * {
    flex: 1;
}

input + label {
    margin-left: -4px;
    padding-left: 4px;
}

.table-row-remove-button {
    line-height: 0.5;
}
