</head><body onload="try { postLoad() } catch(e) {}">
<nav id="header">
    <a href="/" class="headerButton sitename">Cadence's stuff</a>
    <span class="vr">|</span>
    <div>
        <a class="headerButton" href="/pastes/submit">New paste</a>
        <a class="headerButton" href="/pastes/list">Latest pastes</a>
    </div>
    <span class="headerButton headerArrow">Pastes</span>
    <div>
        <a class="headerButton" href="/images/submit">New image</a>
        <a class="headerButton" href="/images/list">Latest images</a>
    </div>
    <span class="headerButton headerArrow">Images</span>
    <div>
        <a class="headerButton" href="/urls/submit">New link</a>
        <a class="headerButton" href="/urls/list">Latest links</a>
    </div>
    <span class="headerButton headerArrow">Links</span>
    <div>
        <a class="headerButton" href="/examples">Example files</a>
        <a class="headerButton" href="/cloudtube/search">YouTube player</a>
    </div>
    <span class="headerButton headerArrow">More</span>
    <div>
        <a class="headerButton" href="/about/site">Website info</a>
        <a class="headerButton" href="/about/api">API</a>
        <a class="headerButton" href="/about/contact">Contact</a>
        <a class="headerButton" href="/about/privacy">Privacy</a>
        <a class="headerButton" href="/about/terms">Terms</a>
    </div>
    <span class="headerButton headerArrow">About</span>
    <a class="headerButton headerUnderline" href="/account" id="accountState"></a>
</nav>
<div id="page">