</head><body>
<nav id="header">
    <a href="/" class="headerButton sitename">Cadence</a>
    <span class="vr">|</span>
    <span class="headerButton headerUnderline" id="headerExpandMenu">≡</span>
    <div>
        <a class="headerButton" href="/pastes/submit">New paste</a>
        <a class="headerButton" href="/pastes/list">Latest pastes</a>
    </div>
    <span class="headerButton headerArrow">Pastes</span>
    <div>
        <a class="headerButton" href="/images/submit">New image</a>
        <a class="headerButton" href="/images/list">Latest images</a>
    </div>
    <span class="headerButton headerArrow">Images</span>
    <div>
        <a class="headerButton" href="/urls/submit">New link</a>
        <a class="headerButton" href="/urls/list">Latest links</a>
    </div>
    <span class="headerButton headerArrow">Links</span>
    <div>
        <a class="headerButton" href="/cloudtube/subscriptions">CloudTube</a>
        <a class="headerButton" href="/legacy/search">CloudTube legacy</a>
        <a class="headerButton" href="/examples">Example files</a>
        <a class="headerButton" href="/misc/godmaster">Godmaster</a>
        <a class="headerButton" href="/egg">Egg Central</a>
    </div>
    <span class="headerButton headerArrow">More</span>
    <div>
        <a class="headerButton" href="/about/site">Website info</a>
        <a class="headerButton" href="/about/api">API</a>
        <a class="headerButton" href="/about/contact">Contact</a>
        <a class="headerButton" href="/about/privacy">Privacy</a>
        <a class="headerButton" href="/about/terms">Terms</a>
        <a class="headerButton" href="https://github.com/cloudrac3r/cadencegq">Source code</a>
        <a class="headerButton" href="/about/javascript" data-jslicense="1">JavaScript licenses</a>
    </div>
    <span class="headerButton headerArrow">About</span>
    <a class="headerButton headerUnderline" href="/account" id="accountState"></a>
</nav>
<script>
    let nav = document.getElementById("header");
    let marker = document.getElementById("accountState");
    const expectedMaxTop = 20; // should be 7 for one line, 47 for two
    function checkMobileHeader() {
        if (marker.offsetTop <= expectedMaxTop && nav.classList.contains("mobile")) {
            nav.classList.remove("mobile");
        }
        if (marker.offsetTop > expectedMaxTop && !nav.classList.contains("mobile")) {
            nav.classList.add("mobile");
        }
    }
    checkMobileHeader();
    window.addEventListener("resize", checkMobileHeader);
    nav.classList.add("hidden");
</script>
<div id="page">
    <div class="infoBox warning" style="border: 3px solid #b98627" ibid="ytaa">
        <div>
            <span>
                YouTube will be deleting all annotations on January 15th. We need your help archiving them.<br>
                If you have bandwidth to spare, please consider joining the cause!<br>
                Contributing is free and easy — read the project overview to find out how you can help.<br>
                <a href="https://www.reddit.com/r/DataHoarder/comments/aa6czg/youtube_annotation_archive/">Project overview</a> /
                <a href="https://github.com/omarroth/archive">Project repo</a> /
                <a href="https://waxy.org/2018/11/a-tribute-to-youtube-annotations/">Why you should care</a>
            </span>
        </div>
    </div>