mixin dropdown(text)
    div.dropdown-alignment
        button.headerButton.headerArrow= text
        div.dropdown-items
            block

mixin item(text, href)
    a(href=href).headerButton= text

</head><body>
<nav id="header">
    a(href="/").headerButton.sitename Cadence
    span.vr |
    button.headerButton.headerUnderline#headerExpandMenu ≡
    a(href="/blog").headerButton.headerUnderline Blog
    span.vr |
    +dropdown("Pastes")
        +item("New paste", "/pastes/submit")
        +item("Latest pastes", "/pastes/list")
    +dropdown("Images")
        +item("New image", "/images/submit")
        +item("Latest images", "/images/list")
    +dropdown("Links")
        +item("New link", "/urls/submit")
        +item("Latest links", "/urls/list")
    +dropdown("More")
        +item("CloudTube", "/cloudtube/subscriptions")
        +item("Egg Central", "/egg")
        +item("Crumpet", "/crumpet")
        +item("chapo.chat emojis", "/misc/chapo-chat-emojis")
        +item("MXID predictor", "/misc/mxid")
        +item("Godmaster", "/misc/godmaster")
        +item("CCC", "/misc/ccc")
        +item("Example files", "/examples")
    +dropdown("About")
        +item("Website info", "/about/site")
        +item("API", "/about/api")
        +item("Contact", "/about/contact")
        +item("Privacy", "/about/privacy")
        +item("Terms", "/about/terms")
        +item("Source code", "https://github.com/cloudrac3r/cadencegq")
        a(href="/about/javascript" data-jslicense="1").headerButton JavaScript licenses
    a(href="/account").headerButton.headerUnderline#accountState
</nav>
script.
    let nav = document.getElementById("header");
    let marker = document.getElementById("accountState");
    const expectedMaxTop = 20; // should be 7 for one line, 47 for two
    function checkMobileHeader() {
        if (marker.offsetTop <= expectedMaxTop && nav.classList.contains("mobile")) {
            nav.classList.remove("mobile");
        }
        if (marker.offsetTop > expectedMaxTop && !nav.classList.contains("mobile")) {
            nav.classList.add("mobile");
        }
    }
    checkMobileHeader();
    window.addEventListener("resize", checkMobileHeader);
    nav.classList.add("hidden");
<div id="page">
